@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: rgb(20, 20, 20);
  /* background: linear-gradient(0deg, rgba(15,15,15,1) 0%, rgba(24,24,24,1) 100%); */
  background-size: cover;
  background-repeat: no-repeat;
  /* background-image: url("gradient.svg"); */
  /* overflow-y: hidden;
  overflow-x: hidden; */
  transition: filter 0.4s ease;
  animation: fade 1s forwards;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  height: 100px;
  /* box-shadow: 0 0 40px 40px rgba(0, 0, 0, 0.2); */
}

.home {
  margin-left: 35px;
  user-select: none;
  cursor: pointer;
}

header a span:nth-child(1) {
  font-size: 35px;
  font-weight: 900;
  color: #ff5f45;
}

header a span:last-child {
  font-size: 25px;
  font-weight: 900;
  color: white;
}

.options {
  display: flex;
  align-items: center;
  color: white;
  user-select: none;
}

.options h2 {
  font-size: 18px;
  font-weight: 500;
  margin-right: 20px;
}

.options a {
  cursor: pointer;
  transition: all 0.5s ease;
}

#profil {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border: 2px solid #ff5f45;
  border-radius: 100%;
  margin-right: 25px;
}

#profil img {
  width: 85%;
  height: 85%;
  object-fit: cover;
}

.container {
  /* height: 829px; */
  height: 100%;
  width: 100%;
}

.container-question {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  color: white;
  margin: 65px 0 25px 0;
}

#number-question {
  font-size: 20px;
  font-weight: 500;
  background-color: #ff5f45;
  padding: 15px 30px 15px 30px;
  border-radius: 35px;
}

.container-countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  color: #242424;
  border: #ff5f45 5px solid;
  background-color: #f1f1f1;
  border-radius: 100%;
  margin: 0 20px 0 20px;
  animation: pulse s infinite;
}

.container-answer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  color: white;
}

.container-answer h3 {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 30px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.answers {
  display: flex;
}

.answer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 300px;
  color: #242424;
  font-size: 18px;
  font-weight: 500;
  background-color: #f1f1f1;
  border-radius: 50px;
  margin: 20px;
  cursor: pointer;
  transition: all 0.4s ease;
  user-select: none;
}

.clicked {
  color: white;
  background-color: #37aa59;
}

.answer:hover {
  transform: scale(0.9);
}

input[type="radio"] {
  margin-right: 10px;
}

button[type="submit"] {
  height: 50px;
  width: 200px;
  font-size: 16px;
  color: white;
  background-color: #37aa59;
  border-radius: 25px;
  border: none;
  margin-top: 30px;
  /* animation: pulse 2s infinite; */
  cursor: pointer;
  user-select: none;
}

.test {
  height: 100px;
  width: 100px;
  background-color: red;
  cursor: pointer;
}

.icons {
  position: absolute;
}

.icons img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform-origin: center;
  animation: move-icon 10s ease-in-out infinite alternate;
}

.icons img:nth-child(1) {
  height: 140px;
  width: 140px;
  top: 450px;
  left: 90px;
  rotate: 137deg;
  /* filter: blur(3px); */
}

.icons img:nth-child(2) {
  height: 110px;
  width: 110px;
  top: -135px;
  left: 200px;
  rotate: -171deg;
  /* filter: blur(3px); */
  z-index: -1;
}

.icons img:nth-child(3) {
  height: 150px;
  width: 150px;
  top: 280px;
  left: 320px;
  rotate: -42deg;
  z-index: -1;
}

.icons img:nth-child(4) {
  height: 180px;
  width: 180px;
  top: 570px;
  left: 580px;
  rotate: 147deg;
  /* filter: blur(3px); */
  z-index: -1;
}

.icons img:nth-child(5) {
  height: 200px;
  width: 200px;
  top: -250px;
  left: 740px;
  rotate: 147deg;
  /* filter: blur(3px); */
  z-index: -1;
}

.icons img:nth-child(6) {
  height: 230px;
  width: 230px;
  top: 250px;
  left: 570px;
  rotate: -70deg;
  /* filter: blur(3px); */
  z-index: -1;
}

.icons img:nth-child(7) {
  height: 150px;
  width: 150px;
  top: 100px;
  left: 720px;
  rotate: -90deg;
  /* filter: blur(3px); */
  z-index: -1;
}

@keyframes move-icon {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(30px);
    rotate: 1deg;
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    box-shadow: #37aa59 0 0 0 0;
  }

  100% {
    box-shadow: transparent 0 0 0 20px;
  }
}

.shake {
  animation: shake 0.1s;
}

@keyframes shake {
  0% {transform: translate(5px, 0);}
  50% {transform: translate(-5px, 0);}
  100% {transform: translate(5px, -0);}
}


